#capture-button {
position: absolute;
background-color: #FFF;
border: 0.5px solid #D8D7D5;
border-radius: 100%;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#capture-button-image {
  padding: 0;
  margin: 6px 1px;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.capture-comment-popup {
  position: absolute;
  left: calc(50% - 100px);
  top: -45px;
}

.capture-comment-popup-content {
  background-color: #FFF;
  border: 1px solid #D8D7D5;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px; padding: 4px;
}

.capture-comment-popup-input, #capture-tag-box-input {
  background: #F6F8FA;
  border: 0.5px solid #D8D7D5;
  box-sizing: border-box;
  border-radius: 2px;
}

.capture-comment-popup-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #AAA;
}

.capture-highlight {
  position: relative;
  background-color: rgba(255, 230, 0, 0.41);
  cursor: pointer;
}

.capture-highlight:hover {
  background-color: rgba(255, 184, 0, 0.41);
}

#capture-tag-box {
  position: fixed;
  right: 12px;
  top: 12px;
  z-index: 9999999999999999999999;
  padding: 1rem;
  background: #FFFFFF;
  border: 1px solid #C5C5C5;
  box-sizing: border-box;
  box-shadow: 4px 4px 50px 5px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.capture-tag-box-title {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

.capture-logo {
  width: 32px;
  height: 32px;
}

.capture-tag-box-tag-icon {
  vertical-align: text-bottom;
  color: #AAA;
}

.capture-tag {
  display: inline-block;
  margin-right: 0.5rem;
}

#capture-tag-box-tag-options-list {
  background-color: #F8F8F8;
}

.cature-icon-svg {
  height: 32px;
  width: 32px;
  padding: 3px 0 1px;
  margin: 2px 0;
}