#capture-button {
  position: absolute;
  background-color: #FFF;
  border: 0.5px solid #D8D7D5;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2147483644;
  padding: 0px 6px;
  white-space: normal;
  cursor: pointer;
}

#capture-button-image {
  padding: 0;
  margin: 6px 1px;
  height: 18px;
  width: 18px;
  vertical-align: middle;
}

.capture-comment-popup {
  position: absolute;
  left: max(calc(50% - 100px), 0px);
  top: -50px;
  z-index: 2147483645;
  font-family: "Open Sans", "Helvetica", "sans-serif";
}

.capture-comment-popup-content {
  background-color: #FFF;
  border: 1px solid #D8D7D5;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 6px;
  white-space: normal;
  min-width: 255px;
}

.capture-comment-popup-input, #capture-tag-box-input {
  background: #F6F8FA;
  border: 0.5px solid #D8D7D5;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px;
}

#capture-tag-box-input {
   width: 100%;
   padding-left: 32px;
   height: unset;
   margin: 0;
   line-height: unset;
}

.capture-comment-popup-content > form > .capture-comment-popup-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #AAA;
}

.capture-highlight {
  position: relative;
  background-color: rgba(255, 230, 0, 0.41);
  cursor: pointer;
}

.capture-highlight > * {
  background-color: rgba(255, 230, 0, 0.41);
}

.capture-highlight:hover {
  background-color: rgba(255, 184, 0, 0.41);
}

.capture-highlight:hover > * {
  background-color: rgba(255, 184, 0, 0.41);
}

.capture-highlight.deleted {
  background-color: transparent;
  cursor: unset;
}

.capture-highlight:hover.deleted {
  background-color: transparent;
}

#capture-tag-box {
  position: fixed;
  right: 12px;
  top: 12px;
  z-index: 2147483646;
  padding: 1rem;
  background: #FFFFFF;
  border: 1px solid #C5C5C5;
  box-sizing: border-box;
  box-shadow: 4px 4px 50px 5px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  font-family: "Open Sans", "Helvetica", "sans-serif" !important;
  font-size: 14px !important;
}

.capture-tag-box-title {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: black;
  font-family: "Open Sans", "Helvetica", "sans-serif" !important;
}

.capture-logo {
  width: 24px;
  height: 24px;
}

#capture-tag-box-tag-list {
  margin-top: 8px;
  max-width: 200px;
}

.capture-tag {
  display: inline-block;
  margin-right: 0.5rem;
  background-color: #ffe60069;
  border-radius: 0.25rem;
  padding: 1px 5px;
  margin-bottom: 5px;
}

.capture-tag-box-form {
  margin-top: 6px;
  position: relative;
  display: block;
}

.capture-tag-box-tag-icon {
  position: absolute;
  vertical-align: middle;
  color: #AAA;
  top: 3px;
  left: 5px;
}

#capture-tag-box-tag-options-list {
  background-color: #F8F8F8;
}

.capture-comment-form {
  display: inline-block;
  font-family: "Open Sans", "Helvetica", "sans-serif";
}

.cature-icon-svg {
  height: 24px;
  width: 24px;
  padding: 3px 0 1px;
  margin: 2px 0;
  vertical-align: baseline;
}

.capture-tag-cancel {
  cursor: pointer;
}
.capture-tag-cancel > svg {
  vertical-align: text-bottom;
  margin-left: 3px;
  height: 16px;
  width: 16px;
}

/* for jquery auto complete */
.ui-autocomplete {
  max-height: 140px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem;
  background: #FFFFFF;
  border: 1px solid #C5C5C5;
  /* box-sizing: border-box;
  box-shadow: 4px 4px 50px 5px rgba(0, 0, 0, 0.5); */
  border-radius: 8px;
}

.ui-autocomplete.ui-menu.ui-widget {
  position: fixed;
  z-index: 2147483647;
}

.capture-tag-box-link-area {
  text-align: right;
}

.capture-tag-box-link-area > a {
  color: #a9a9a9;
}

.capture-tag-box-link-area > a:hover {
  border-bottom: 1px solid #808080;
  color: #808080;
}